<p>respuesta-form works!</p>
<div class="container mt-3">
    <h2>{{respuesta.id ? 'Editar respuesta':'Nueva respuesta'}}</h2><!--encuestaId-->
    <form (ngSubmit)="guardarOactualizarRespuesta()">
        <div class="form-group">
            <label for="contenido">contenido:</label>
            <input class="form-control" 
            type="text" id="contenido" name="contenido" [(ngModel)]="respuesta.contenido">
        </div>

        <button type="submit" class="btn btn-primary">
            {{preguntaId ? 'Editar':'Guardar'}}</button>
    </form>
</div>

