<div class="container mt-3">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let encuesta of encuestas">
                        <td>{{encuesta.id}}</td>
                        <td>{{encuesta.titulo}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="acciones">
                                <a [routerLink]="'/encuestas/'+encuesta.id" class="btn btn-primary">ver</a>
    
                                &nbsp;&nbsp;
                                <a routerLink="/encuestas/editar/{{encuesta.id}}" class="btn btn-warning">editar</a>
                                &nbsp;&nbsp;
                                <a (click)="eliminarEncuesta(encuesta.id)" class="btn btn-danger">eliminar</a>
                                &nbsp;&nbsp;
                                <button (click)="verPreguntas(encuesta.id)" class="btn btn-info">preguntas</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="text-center mt-3">
        <a routerLink="/encuestas/nueva" class="btn btn-success">Nueva encuesta</a>
    </div>
</div>